h1 {
    text-align: center;
    color: #033fa0;
    font-family: Impact, Charcoal, sans-serif;
}
body {
    background-image: url("man_u.ashx");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:1000px 600px;
}
h2 {
    color: #21a806
}
